extends layout

block content
  h1 Retrieve Token List

  form.formWrapper(action=fixUrl('/tokens') method="POST")
    h3.m2 Enter Sets:
    i.m2 One set per line. Can be set code or name.

    textarea.m2#sets(name="sets", cols="30", rows="10")

    .m2.center
      .m2 Sort Sets by:
      .formOptions.left
        div
          input#sortList(type="radio" name="sort" value="list" checked)
          label(for="sortList") List order
          br
          input#sortDateAsc(type="radio" name="sort" value="dateAsc")
          label(for="sortDateAsc") Date (Newest first)
          br
          input#sortDateDesc(type="radio" name="sort" value="dateDesc")
          label(for="sortDateDesc") Date (Oldest first)
        div
          input#unique(type="checkbox" name="unique")
          label.inline(for="unique") Hide repeated tokens

    .m2
      input.inline.m2.p2#checkSets(type="button" value="Check Sets")

      input.inline.m2.p2(type="submit" value="Get Set Tokens")
    
  #setResults.m2.h1

  .m2.center
    h2.m2 — OR — 
  
  .h1.m2

  form.formWrapper(action=fixUrl('/cards') method="POST")
    h3.m2 Enter Cards:
    i.m2 One card name per line. Will ignore numbers at the start of each line.

    textarea.m2#sets(name="cards", cols="30", rows="10")

    .m2
      input.inline.m2.p2#getCards(type="submit" value="Get Card Tokens")
  
  #updateLink
    a(href=fixUrl('/admin/updateDb') title="Please don't click this") DB Update

block footer
    script(src=fixUrl('/javascripts/indexEvents.js'))